
.parent-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    background-color: #FFF;
}

.brand {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: arial;
    color: #2596be;
    padding-left: 20px;
}

.title {
    font-weight: 900;
    font-size: 25px;
}

.note {
    font-weight: 700;
}

.container-input {
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    padding-top: 9px;
}

.input-search-place {
    border-radius: 25px 0 0 25px;
    border: 1px solid #ECEEEF;
    padding: 0 1rem;
    border-right: 0;
    width: 100%;
}

.input-search-place:focus {
    outline: unset;
}

.container-icon {
    border-radius: 0 25px 25px 0;
    border: 1px solid #ECEEEF;
    border-left: 0;
    padding: 5px;
}

.icon-search {
    font-size: 30px;
}