
<div class="parent-header">
    <div class="brand">
        <span class="title">CLIMA WEB</span>
        <span class="note">2024</span>
    </div>
    <div class="container-search">
        <div class="container-input">
            <input type="text"
                    id="txtSearchPlace"
                    class="input-search-place"
                    placeholder="Buscar el tiempo en..."
                    (input)="inputEvent($event)"
                    autocomplete="off">
            <div class="container-icon">
                <i class='bx bx-search-alt-2 icon-search'></i>
            </div>
        </div>
    </div>
</div>